:root {
  --dar-global-bg: #f6f6f8;
  --dar-glass-morphism-bg: rgba(245, 246, 248, 0.9);
  --dar-global-bg-normal: #ffffff;
  --dar-base-bg: #ffffff;
  --dar-base-bg-dark: #252b3a;
  --dar-brand: #5e7ce0;
  --dar-brand-foil: #f2f2f3;
  --dar-brand-hover: #7693f5;
  --dar-brand-active: #526ecc;
  --dar-brand-active-focus: #344899;
  --dar-contrast: #c7000b;
  --dar-text: #252b3a;
  --dar-text-weak: #575d6c;
  --dar-aide-text: #71757f;
  --dar-aide-text-hover: #252b3a;
  --dar-aide-text-stress: #575d6c;
  --dar-placeholder: #babbc0;
  --dar-light-text: #ffffff;
  --dar-dark-text: #252b3a;
  --dar-link: #526ecc;
  --dar-link-active: #526ecc;
  --dar-link-light: #96adfa;
  --dar-link-light-active: #beccfa;
  --dar-line: #d7d8da;
  --dar-dividing-line: #f2f2f3;
  --dar-block: #ffffff;
  --dar-area: #f5f5f5;
  --dar-danger: #f66f6a;
  --dar-warning: #fac20a;
  --dar-waiting: #beccfa;
  --dar-success: #50d4ab;
  --dar-info: #5e7ce0;
  --dar-initial: #e9edfa;
  --dar-unavailable: #f5f5f5;
  --dar-shadow: rgba(37, 43, 58, 0.24);
  --dar-light-shadow: rgba(37, 43, 58, 0.12);
  --dar-connected-overlay-shadow: rgba(37, 43, 58, 0.16);
  --dar-feedback-overlay-shadow: rgba(37, 43, 58, 0.2);
  --dar-icon-text: #71757f;
  --dar-icon-bg: #ffffff;
  --dar-icon-fill: #71757f;
  --dar-icon-fill-weak: #babbc0;
  --dar-icon-fill-hover: #252b3a;
  --dar-icon-fill-active: #252b3a;
  --dar-icon-fill-active-hover: #252b3a;
  --dar-shape-icon-fill: #d7d8da;
  --dar-shape-icon-fill-hover: #babbc0;
  --dar-shape-icon-fill-active: #babbc0;
  --dar-shape-icon-fill-disabled: #f5f5f5;
  --dar-form-control-line: #d7d8da;
  --dar-form-control-bg: #ffffff;
  --dar-form-control-line-hover: #9b9fa8;
  --dar-form-control-line-active: #5e7ce0;
  --dar-form-control-interactive-outline: rgba(94, 124, 224, 0.08);
  --dar-form-control-line-active-hover: #344899;
  --dar-list-item-active-bg: #f2f5fc;
  --dar-list-item-active-text: #252b3a;
  --dar-list-item-active-hover-bg: #f2f5fc;
  --dar-list-item-hover-bg: #f2f2f3;
  --dar-list-item-hover-text: #252b3a;
  --dar-list-item-selected-bg: #f2f5fc;
  --dar-list-item-strip-bg: #f2f5fc;
  --dar-disabled-bg: #f5f5f5;
  --dar-disabled-line: #dfe1e6;
  --dar-disabled-text: #cfd0d3;
  --dar-primary-disabled: #beccfa;
  --dar-icon-fill-active-disabled: #beccfa;
  --dar-label-bg: #e9edfa;
  --dar-connected-overlay-bg: #ffffff;
  --dar-connected-overlay-line: #526ecc;
  --dar-fullscreen-overlay-bg: #ffffff;
  --dar-feedback-overlay-bg: #464d6e;
  --dar-feedback-overlay-text: #dfe1e6;
  --dar-embed-search-bg: #f2f2f3;
  --dar-embed-search-bg-hover: #eef0f5;
  --dar-float-block-shadow: rgba(94, 124, 224, 0.3);
  --dar-highlight-overlay: rgba(255, 255, 255, 0.8);
  --dar-range-item-hover-bg: #e9edfa;
  --dar-gray-form-control-bg: #f5f5f5;
  --dar-gray-form-control-hover-bg: #ebebeb;
  --dar-nav-expand-bg: #fbfbfc;
  --dar-primary: #5e7ce0;
  --dar-primary-hover: #7693f5;
  --dar-primary-active: #344899;
  --dar-contrast-hover: #d64a52;
  --dar-contrast-active: #b12220;
  --dar-danger-line: #f66f6a;
  --dar-danger-bg: #ffd5d4;
  --dar-warning-line: #fa9841;
  --dar-warning-bg: #ffe1c7;
  --dar-info-line: #5e7ce0;
  --dar-info-bg: #e9edfa;
  --dar-success-line: #50d4ab;
  --dar-success-bg: #cffcee;
  --dar-primary-line: #5e7ce0;
  --dar-primary-bg: #f2f5fc;
  --dar-default-line: #5e7ce0;
  --dar-default-bg: #f7f8fa;
  --dar-shadow-length-base: 0 2px 6px 0;
  --dar-shadow-length-slide-left: -2px 0 8px 0;
  --dar-shadow-length-slide-right: 2px 0 8px 0;
  --dar-shadow-length-connected-overlay: 0 2px 12px 0;
  --dar-shadow-length-hover: 0 4px 16px 0;
  --dar-shadow-length-feedback-overlay: 0 8px 16px 0;
  --dar-shadow-length-fullscreen-overlay: 0 10px 24px 0;
  --dar-border-radius: 4px;
  --dar-border-radius-feedback: 4px;
  --dar-border-radius-card: 8px;
  --dar-border-radius-full: 100px;
  --dar-font-size: 14px;
  --dar-font-size-card-title: 16px;
  --dar-font-size-page-title: 16px;
  --dar-font-size-modal-title: 18px;
  --dar-font-size-price: 20px;
  --dar-font-size-data-overview: 24px;
  --dar-font-size-icon: 16px;
  --dar-font-size-sm: 12px;
  --dar-font-size-md: 14px;
  --dar-font-size-lg: 14px;
  --dar-font-title-weight: bold;
  --dar-font-content-weight: normal;
  --dar-line-height-base: 1.5;
  --dar-animation-ease-in-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --dar-animation-duration-slow: 300ms;
  --dar-animation-duration-base: 200ms;
  --dar-animation-duration-fast: 100ms;
  --dar-animation-ease-in: cubic-bezier(0.5, 0, 0.84, 0.25);
  --dar-animation-ease-out: cubic-bezier(0.16, 0.75, 0.5, 1);
  --dar-animation-ease-in-out: cubic-bezier(0.5, 0.05, 0.5, 0.95);
  --dar-animation-ease-in-out-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
  --dar-animation-linear: cubic-bezier(0, 0, 1, 1);
  --dar-z-index-full-page-overlay: 1080;
  --dar-z-index-pop-up: 1060;
  --dar-z-index-dropdown: 1052;
  --dar-z-index-modal: 1050;
  --dar-z-index-drawer: 1040;
  --dar-z-index-framework: 1000;
  --dar-btn-sm-padding: 0 12px;
  --dar-btn-padding: 0 16px;
  --dar-btn-lg-padding: 0 20px;
  --dar-btn-common-bg: #ebebeb;
  --dar-btn-common-border-color: transparent;
  --dar-btn-common-bg-hover: #d1d1d1;
  --dar-btn-common-color-hover: #252b3a;
  --dar-btn-common-border-color-hover: transparent;
  --dar-btn-common-bg-active: #bdbdbd;
  --dar-btn-common-color-active: #252b3a;
  --dar-btn-common-border-color-active: transparent;
  --dar-btn-common-border-disabled: transparent;
  --dar-icon-hover-bg: #ebebeb;
  --dar-icon-active-bg: #d1d1d1;
}
@media (prefers-color-scheme: dark) {
  :root {
    --dar-global-bg: #1a1a1c;
    --dar-glass-morphism-bg: rgba(26, 26, 28, 0.9);
    --dar-global-bg-normal: #202124;
    --dar-base-bg: #292a2e;
    --dar-base-bg-dark: #2e2f31;
    --dar-brand: #526ecc;
    --dar-brand-foil: #f2f2f3;
    --dar-brand-hover: #5e7ce0;
    --dar-brand-active: #526ecc;
    --dar-brand-active-focus: #344899;
    --dar-contrast: #c7000b;
    --dar-text: #ced1db;
    --dar-text-weak: #a0a0a0;
    --dar-aide-text: #868a99;
    --dar-aide-text-hover: #73788a;
    --dar-aide-text-stress: #a0a0a0;
    --dar-placeholder: #5b5d66;
    --dar-light-text: #ffffff;
    --dar-dark-text: #252b3a;
    --dar-link: #526ecc;
    --dar-link-active: #344899;
    --dar-link-light: #96adfa;
    --dar-link-light-active: #beccfa;
    --dar-line: #4e5057;
    --dar-dividing-line: #323438;
    --dar-block: #606061;
    --dar-area: #34363a;
    --dar-danger: #f66f6a;
    --dar-warning: #fac20a;
    --dar-waiting: #5e6580;
    --dar-success: #50d4ab;
    --dar-info: #526ecc;
    --dar-initial: #64676e;
    --dar-unavailable: #5b5b5c;
    --dar-shadow: rgba(0, 0, 0, 0.72);
    --dar-light-shadow: rgba(0, 0, 0, 0.3);
    --dar-connected-overlay-shadow: rgba(0, 0, 0, 0.42);
    --dar-feedback-overlay-shadow: rgba(0, 0, 0, 0.54);
    --dar-icon-text: #868a99;
    --dar-icon-bg: #2e2f31;
    --dar-icon-fill: #868a99;
    --dar-icon-fill-weak: #babbc0;
    --dar-icon-fill-hover: #ced1db;
    --dar-icon-fill-active: #ced1db;
    --dar-icon-fill-active-hover: #ced1db;
    --dar-shape-icon-fill: #5b5d66;
    --dar-shape-icon-fill-active: #868a99;
    --dar-shape-icon-fill-hover: #babbc0;
    --dar-shape-icon-fill-disabled: #f5f5f5;
    --dar-form-control-line: #4e5057;
    --dar-form-control-bg: #292a2e;
    --dar-form-control-line-hover: #696c75;
    --dar-form-control-line-active: #526ecc;
    --dar-form-control-interactive-outline: rgba(82, 110, 204, 0.08);
    --dar-form-control-line-active-hover: #344899;
    --dar-list-item-active-bg: #303548;
    --dar-list-item-active-text: #4660b8;
    --dar-list-item-active-hover-bg: #303548;
    --dar-list-item-hover-bg: #3d3d42;
    --dar-list-item-hover-text: #f5f5f5;
    --dar-list-item-selected-bg: #303548;
    --dar-list-item-strip-bg: #383838;
    --dar-disabled-bg: #2d2e32;
    --dar-disabled-line: #505153;
    --dar-disabled-text: #5b5d66;
    --dar-primary-disabled: #3f3f3f;
    --dar-icon-fill-active-disabled: #2b3458;
    --dar-label-bg: #353537;
    --dar-connected-overlay-bg: #2e2f33;
    --dar-connected-overlay-line: #526ecc;
    --dar-fullscreen-overlay-bg: #2e2f33;
    --dar-feedback-overlay-bg: #4c4c4c;
    --dar-feedback-overlay-text: #dfe1e6;
    --dar-embed-search-bg: #383838;
    --dar-embed-search-bg-hover: #3d3e40;
    --dar-float-block-shadow: rgba(94, 124, 224, 0.3);
    --dar-highlight-overlay: rgba(255, 255, 255, 0.1);
    --dar-range-item-hover-bg: #454545;
    --dar-primary: #526ecc;
    --dar-primary-hover: #5e7ce0;
    --dar-primary-active: #344899;
    --dar-contrast-hover: #d64a52;
    --dar-contrast-active: #b12220;
    --dar-danger-line: #d15854;
    --dar-danger-bg: #4a2120;
    --dar-warning-line: #eb8f3d;
    --dar-warning-bg: #4b2e14;
    --dar-info-line: #4482bd;
    --dar-info-bg: #1c2543;
    --dar-success-line: #2aa37e;
    --dar-success-bg: #123d32;
    --dar-primary-line: #546bb7;
    --dar-primary-bg: #383d4f;
    --dar-default-line: #526ecc;
    --dar-default-bg: #313131;
    --dar-shadow-length-base: 0 2px 6px 0;
    --dar-shadow-length-slide-left: -2px 0 8px 0;
    --dar-shadow-length-slide-right: 2px 0 8px 0;
    --dar-shadow-length-connected-overlay: 0 2px 12px 0;
    --dar-shadow-length-hover: 0 4px 16px 0;
    --dar-shadow-length-feedback-overlay: 0 8px 16px 0;
    --dar-shadow-length-fullscreen-overlay: 0 0 6px 0;
    --dar-border-radius: 4px;
    --dar-border-radius-feedback: 4px;
    --dar-border-radius-card: 8px;
    --dar-border-radius-full: 100px;
    --dar-font-size: 14px;
    --dar-font-size-card-title: 16px;
    --dar-font-size-page-title: 16px;
    --dar-font-size-modal-title: 18px;
    --dar-font-size-price: 20px;
    --dar-font-size-data-overview: 24px;
    --dar-font-size-icon: 16px;
    --dar-font-size-sm: 12px;
    --dar-font-size-md: 14px;
    --dar-font-size-lg: 14px;
    --dar-font-title-weight: bold;
    --dar-font-content-weight: normal;
    --dar-line-height-base: 1.5;
    --dar-animation-ease-in-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
    --dar-animation-duration-slow: 300ms;
    --dar-animation-duration-base: 200ms;
    --dar-animation-duration-fast: 100ms;
    --dar-animation-ease-in: cubic-bezier(0.5, 0, 0.84, 0.25);
    --dar-animation-ease-out: cubic-bezier(0.16, 0.75, 0.5, 1);
    --dar-animation-ease-in-out: cubic-bezier(0.5, 0.05, 0.5, 0.95);
    --dar-animation-ease-in-out-smooth: cubic-bezier(0.645, 0.045, 0.355, 1);
    --dar-animation-linear: cubic-bezier(0, 0, 1, 1);
    --dar-z-index-full-page-overlay: 1080;
    --dar-z-index-pop-up: 1060;
    --dar-z-index-dropdown: 1052;
    --dar-z-index-modal: 1050;
    --dar-z-index-drawer: 1040;
    --dar-z-index-framework: 1000;
    --dar-icon-active-color: #ffffff;
    --dar-gray-form-control-bg: #323338;
    --dar-gray-form-control-hover-bg: #393a3e;
    --dar-table-expand-area-bg: #393a3e;
    --dar-btn-sm-padding: 0 12px;
    --dar-btn-padding: 0 16px;
    --dar-btn-lg-padding: 0 20px;
    --dar-btn-common-bg: #393a3e;
    --dar-btn-common-border-color: transparent;
    --dar-btn-common-bg-hover: #4e5057;
    --dar-btn-common-color-hover: #ced1db;
    --dar-btn-common-border-color-hover: transparent;
    --dar-btn-common-bg-active: #4e5057;
    --dar-btn-common-color-active: #ced1db;
    --dar-btn-common-border-color-active: transparent;
    --dar-btn-common-border-disabled: transparent;
    --dar-icon-hover-bg: #393a3e;
    --dar-icon-active-bg: #4e5057;
    --dar-nav-expand-bg: #1d1d21;
  }
}
