<dar-fullscreen (fullscreenLaunch)="toggleFullScreen1($event)">
  <div class="full" darFullscreenTarget style="color: var(--dar-text);">
    <h3>111122223333</h3>
    <h3>111122223333</h3>
    <h3>111122223333</h3>
    <h3>111122223333</h3>
    <h3>111122223333</h3>
    <h3>111122223333</h3>
    <dar-button darFullscreenLaunch>{{ isFull1 ? "退出" : "全屏" }}</dar-button>
  </div>
</dar-fullscreen>
<dar-fullscreen (fullscreenLaunch)="toggleFullScreen2($event)">
  <div class="full" darFullscreenTarget style="color: var(--dar-text);">
    <h3>444555666</h3>
    <h3>444555666</h3>
    <h3>444555666</h3>
    <h3>444555666</h3>
    <h3>444555666</h3>
    <h3>444555666</h3>
    <dar-button darFullscreenLaunch>{{ isFull2 ? "退出" : "全屏" }}</dar-button>
  </div>
</dar-fullscreen>
