.accordion-outcontainer {
  width: 250px;
  display: flex;
  background-color: var(--dar-base-bg);
  color: var(--dar-text);
  border-radius: 4px;
  box-shadow: var(--dar-shadow-length-base, 0 2px 6px 0) var(--dar-shadow, rgba(37, 43, 58, .24));
  padding: 8px 0;
}
